[submodule "Track-5Sem2025Front"]
	path = Track-5Sem2025Front
	url = https://github.com/iNineBD/Track-5Sem2025Front.git
[submodule "Track-5Sem2025Server"]
	path = Track-5Sem2025Server
	url = https://github.com/iNineBD/Track-5Sem2025Server.git
submodule "ETL"]
	path = ETL
	url = https://github.com/iNineBD/Track-5Sem2025ETL
